In [0]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [0]:
def load_to_pd(dataset):
    df = pd.DataFrame(data = np.c_[dataset['data'], dataset['target']],
                  columns = dataset['feature_names'] + ['target'])
    return df

In [21]:
df = load_to_pd(datasets.load_iris())
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

In [18]:
df = load_to_pd(datasets.load_diabetes())
df.head()

        age       sex       bmi        bp  ...        s4        s5        s6  target
0  0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646   151.0
1 -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204    75.0
2  0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930   141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362   206.0
4  0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641   135.0

[5 rows x 11 columns]

In [23]:
df = load_to_pd(datasets.load_wine())
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0     0.0
1    13.20        1.78  2.14  ...                          3.40   1050.0     0.0
2    13.16        2.36  2.67  ...                          3.17   1185.0     0.0
3    14.37        1.95  2.50  ...                          3.45   1480.0     0.0
4    13.24        2.59  2.87  ...                          2.93    735.0     0.0

[5 rows x 14 columns]